﻿body {
  background-color: #f2f2f2 !important; }

.filter-boxes .filter-search-box {
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  color: #9e9e9e; }
  .filter-boxes .filter-search-box input {
    font-size: 14px;
    padding: 20px; }
  .filter-boxes .filter-search-box .k-textbox {
    background-color: #ffffff;
    border: none; }
  .filter-boxes .filter-search-box .k-icon {
    border: none;
    width: 30px; }
  .filter-boxes .filter-search-box span {
    width: 100%;
    background-color: none; }

.filter-boxes .range-wrap {
  height: 120px !important; }
  .filter-boxes .range-wrap .k-widget {
    border: none; }
  .filter-boxes .range-wrap .k-numeric-wrap {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #f2f2f2;
    border-left: none; }
    .filter-boxes .range-wrap .k-numeric-wrap .k-select {
      border-left: 1px solid #f2f2f2;
      color: #f2f2f2; }

.filter-boxes .filter-box {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  width: 100%;
  height: auto;
  max-height: 400px;
  overflow: hidden;
  padding: 10px 10px 20px 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff; }
  .filter-boxes .filter-box .scrollable-content {
    max-height: 145px;
    height: auto;
    overflow-y: auto;
    overflow-x: auto; }
  .filter-boxes .filter-box .scrollable-content[data-name="car-select"] {
    max-height: 300px;
    height: auto;
    overflow-y: auto;
    overflow-x: auto;
    max-width: 250px;
    min-height: 74px; }
  .filter-boxes .filter-box .scrollable-content[data-name="car-select"] > div.k-treeview {
    overflow: initial !important; }
  .filter-boxes .filter-box .scrollable-content[data-name="stock-place"] {
    max-height: 300px;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden; }
  .filter-boxes .filter-box .scrollable-content[data-name="branch-list"] {
    max-height: 300px !important;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 10px; }
  .filter-boxes .filter-box .scrollable-content[data-name="model-years"] {
    max-height: 300px;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden; }
  .filter-boxes .filter-box div.k-treeview {
    overflow: visible !important; }
  .filter-boxes .filter-box h4 {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333333;
    font-weight: "RobotoBold", Arial, sans-serif; }
  .filter-boxes .filter-box label {
    font-size: 14px;
    font-weight: normal;
    display: inline;
    padding-left: 0; }
  .filter-boxes .filter-box .checkbox input[type=checkbox], .filter-boxes .filter-box .checkbox-inline input[type=checkbox], .filter-boxes .filter-box .radio input[type=radio], .filter-boxes .filter-box .radio-inline input[type=radio] {
    margin-left: 0;
    margin-right: 5px;
    position: relative; }
  .filter-boxes .filter-box li {
    font-size: 12px; }
  .filter-boxes .filter-box .input-range-box {
    margin-top: 30px; }
    .filter-boxes .filter-box .input-range-box .range-box {
      float: left;
      width: 40%; }
    .filter-boxes .filter-box .input-range-box .k-numerictextbox {
      width: 90%; }
    .filter-boxes .filter-box .input-range-box .seperator {
      margin: 0 8px;
      line-height: 30px;
      float: left; }
    .filter-boxes .filter-box .input-range-box .btn {
      margin: 0 4px;
      padding: 5px 14px; }
  .filter-boxes .filter-box ul {
    -webkit-padding-start: 2px;
    padding-left: 2px; }
    .filter-boxes .filter-box ul li {
      list-style: none; }

.filter-boxes .last-box {
  margin-bottom: 40px; }

/*.filter-button-sticky {
    position: fixed;
    height: 50px;
    width: 14.9%;
    left: 29px;
    bottom: 2px;
    z-index: 999;
    text-align: center;
    padding: 10px;
    @include box-shadow-three(0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12));
    background-color: $color-blue;
    color:$color-white !important;
    border:none;
    @include rounded(3px);
    &:hover {
        background-color: $color-primary-dark;
        color: $color-white !important;
    }
    &:active {
        background-color: $color-primary-dark;
        color: $color-white !important;
    }
    a {
        width: 100%;
        color: $color-white  !important;
        text-transform: uppercase;
    }
}*/
/*.filter-button-relative {
    position: relative;
    margin-bottom:40px;
    height: 50px;
    width: 100%;
    z-index: 999;
    text-align: center;
    padding: 10px;
    @include box-shadow-three(0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12));
    background-color: $color-blue;
    color: $color-white !important;
    border: none;
    @include rounded(3px);

    &:hover {
        background-color: $color-primary-dark;
        color: $color-white !important;
    }

    &:active {
        background-color: $color-primary-dark;
        color: $color-white !important;
    }

    a {
        width: 100%;
        color: $color-white  !important;
        text-transform: uppercase;
    }
}*/
.page-title {
  height: 112px;
  background: #2196F3;
  background: -webkit-linear-gradient(legacy-direction(94deg), #0066cc, #0099ff);
  background: linear-gradient(94deg, #0066cc, #0099ff);
  margin-bottom: 50px; }
  .page-title .breadcrumb-links {
    padding-top: 30px;
    height: 20px;
    font-size: 18px;
    text-align: left;
    color: #ffffff; }
  .page-title .primary-card {
    height: 60px;
    position: relative;
    top: 40px;
    padding: 20px;
    line-height: 22px;
    font-size: 16px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .page-title .primary-card i {
      margin-right: 5px;
      font-size: 22px !important;
      position: relative;
      width: 22px;
      height: 22px;
      display: inline-block; }
    .page-title .primary-card span {
      position: relative;
      top: -5px; }
      .page-title .primary-card span .username {
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: left;
        color: rgba(0, 0, 0, 0.87);
        margin: 0;
        display: inline-block; }
  .page-title .profile-button {
    padding: 0 !important;
    margin: 0 0 0 15px;
    font-size: 14px !important;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #2196F3; }

.grid-actions {
  padding: 20px;
  height: auto;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  background-color: #d9d9d9; }
  .grid-actions .grid-actions-select {
    width: 240px;
    height: 34px;
    background-repeat: no-repeat;
    background-color: #ffffff;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12); }
  .grid-actions .btn {
    height: 34px; }

#wrapperSidebar.active {
  margin-left: -320px;
  transition: all 0.3s; }
  #wrapperSidebar.active .filter-button-static {
    left: -320px; }

#wrapperSidebar {
  transition: all 0.3s; }

#wrapperContent {
  min-height: 100vh;
  transition: all 0.3s; }

.tabbable .nav {
  width: 100%;
  text-align: center; }
  .tabbable .nav > li {
    float: none;
    width: 10%;
    display: inline-block;
    text-align: center; }

.tabbable .nav-tabs {
  background-color: #000000;
  border-bottom: 3px solid #000000; }

.tabbable .nav-tabs > li > a {
  border: none;
  color: #ffffff;
  font-size: 14px; }

.tabbable .nav-tabs > li.active > a, .tabbable .nav-tabs > li > a:hover {
  border: none;
  color: #ffffff;
  background: transparent; }

.tabbable .nav-tabs > li > a::after {
  content: "";
  background: #ffffff;
  height: 3px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -2px;
  transition: all 250ms ease 0s;
  transform: scale(0); }

.tabbable .nav-tabs > li.active > a::after, .tabbable .nav-tabs > li:hover > a::after {
  transform: scale(1); }

.tabbable .tab-nav > li > a::after {
  background: #2196F3 none repeat scroll 0% 0%;
  color: #ffffff; }

.k-grid-header a {
  color: #000000;
  font-weight: 700; }

.k-grid-header th.k-header {
  vertical-align: middle !important; }

.fl-scrolls, .fl-scrolls div {
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0; }

.fl-scrolls {
  bottom: 0;
  height: 35px;
  overflow: auto;
  position: fixed; }

.fl-scrolls div {
  height: 1px;
  overflow: hidden; }

.fl-scrolls div:before {
  content: "";
  /* fixes #6 */ }

.fl-scrolls-hidden {
  bottom: 9999px; }

.fl-scrolls-viewport {
  /* It can be any type of positioning except static. Redefine in your CSS as needed */
  position: relative; }

.fl-scrolls-body {
  overflow: auto; }

.fl-scrolls-viewport .fl-scrolls {
  left: 0;
  position: absolute; }

.fl-scrolls-hoverable .fl-scrolls {
  opacity: 0;
  transition: opacity 0.5s ease 0.3s; }

.fl-scrolls-hoverable:hover .fl-scrolls {
  opacity: 1; }

.k-grid table, .k-pager-wrap {
  background-color: #ffffff; }

::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 10px; }

::-webkit-scrollbar-track {
  background: #f2f2f2;
  cursor: pointer; }

span.total-page-info {
  margin-top: 8px;
  display: block; }

a#hide-sidebar {
  line-height: 64px;
  padding: 10px 5px 5px 1px;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 45%;
  width: 29px;
  border: medium none;
  color: #000000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 90px;
  cursor: pointer;
  background: url("../img/filter-hide-button.svg") no-repeat center center #cccccc;
  text-decoration: none;
  background-size: 24px 24px; }
  a#hide-sidebar.show-sidebar {
    line-height: 64px;
    padding: 10px 5px 5px 1px;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 45%;
    width: 29px;
    border: medium none;
    background: url("../img/filter-show-button.svg") no-repeat center center #cccccc;
    color: #000000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 90px;
    cursor: pointer;
    text-decoration: none;
    background-size: 24px 24px; }

.top-filter-hide-show {
  background: url(../img/filter-hide-button.svg) no-repeat 0 0 transparent;
  background-size: 24px 24px;
  width: 150px;
  height: 35px;
  display: inline-block;
  color: #333333;
  font-weight: 500;
  cursor: pointer;
  text-indent: 24px;
  position: absolute;
  line-height: 25px;
  top: 8px;
  left: 25px; }
  .top-filter-hide-show.active {
    background: url("../img/filter-show-button.svg") no-repeat 0 0 transparent !important;
    background-size: 24px 24px !important; }
  .top-filter-hide-show:hover {
    color: #333333;
    text-decoration: none; }

.hide-sidebar-relative {
  position: absolute !important;
  left: -15px !important;
  bottom: 10% !important;
  top: initial !important; }

a#hide-sidebar.show-sidebar.hide-sidebar-relative {
  left: 0 !important;
  top: 41% !important;
  position: fixed !important;
  bottom: initial !important; }

.select-all {
  position: absolute;
  font-size: 12px;
  cursor: pointer;
  float: right;
  margin-top: -27px;
  right: 29px;
  color: #0099ff;
  display: block; }

div.grid-tabs {
  background-color: #000000;
  height: 50px; }
  div.grid-tabs ul {
    padding-top: 0;
    background-color: transparent;
    border: none;
    height: 50px;
    display: inline-block;
    text-align: center;
    width: auto;
    clear: both;
    margin: 0 auto !important;
    padding-bottom: 0 !important; }
    div.grid-tabs ul li {
      list-style: none;
      float: left;
      padding: 14px; }
      div.grid-tabs ul li a {
        list-style: none;
        float: left;
        text-decoration: none; }
      div.grid-tabs ul li.active {
        border-bottom: 2px solid #ffffff; }

.tabbable .nav > li {
  width: 11% !important; }

.tabbable .nav > li > a {
  cursor: pointer; }

.dealer-notes {
  display: block;
  width: 100%;
  min-height: 100px;
  height: auto;
  position: relative;
  z-index: 9999;
  background-color: #ffffff;
  padding-top: 25px;
  padding-bottom: 15px; }

.note-block {
  width: 100%;
  border-left: 5px solid #fff;
  margin-bottom: 15px;
  padding-left: 15px;
  height: auto;
  display: inline-block;
  clear: both; }
  .note-block:hover {
    width: 100%;
    border-left: 5px solid #000000;
    margin-bottom: 15px; }
  .note-block h1 {
    font-weight: 500;
    font-size: 16px;
    margin-top: 0;
    clear: both; }
  .note-block:hover button {
    display: block; }
  .note-block button {
    display: block;
    float: right;
    margin-top: 5px; }
  .note-block textarea {
    resize: none; }
  .note-block > span {
    width: 230px; }

button.btn-edit {
  border: medium none;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  color: #0099ff; }
  button.btn-edit > i {
    font-size: 20px !important; }

th.k-header[data-field='RowOrderCarPursuitColumn'] {
  padding-right: 3em; }

th.k-header[data-field="ColorAndOptionColumn"] {
  padding-right: 5.5em; }

th.k-header[data-field='CarModelYearColumn'] {
  padding-right: 7em; }

th.k-header[data-field="BaseCarColumn"] {
  padding-right: 5em; }

th.k-header[data-field="StatussesColumn"] {
  padding-right: 8em; }

th.k-header[data-field="StockAgeColumn"] {
  padding-right: 5em; }

th.k-header[data-field="WholeSaleColumn"] {
  padding-right: 7em; }

th.k-header[data-field="PriceAndDiscountCodeColumn"] {
  padding-right: 6em; }

th.k-header[data-field="DownPaymentColumn"] {
  padding-right: 7em; }

th.k-header[data-field="BranchNameColumn"] {
  padding-right: 9em; }

th.k-header[data-field="PoolStatusColumn"] {
  padding-right: 5em; }

th.k-header[data-field="StatussesColumn"] {
  padding-right: 9em; }

th.k-header[data-field="ENTITY_NAME"] {
  padding-right: 8em; }

th.k-header[data-field="MODELYEAR"] {
  padding-right: 8em; }

th.k-header[data-field="COLOR_CODE"] {
  padding-right: 9em; }

th.k-header[data-field="VINNUMBER"] {
  padding-right: 9em; }

th.k-header[data-field="RF_STS_SIRANO"] {
  padding-right: 9em; }

th.k-header[data-field="OPTION_DSC"] {
  padding-right: 9em; }

th.k-header[data-field="LastCheck"] {
  padding-right: 9em; }

th.k-header[data-field="FsaStatus"] {
  padding-right: 9em; }

th.k-header[data-field="SAYAC"] {
  padding-right: 5em; }

th.k-header[data-field="PRODUCTION_MONTH"] {
  padding-right: 9em; }

th.k-header[data-field="TARGET_DELIVERY_DATE"] {
  padding-right: 9em; }

th.k-header[data-field="DT_EWS"] {
  padding-right: 9em; }

th.k-header[data-field="DP_PRICE"] {
  padding-right: 9em; }

th.k-header[data-field="DP1"] {
  padding-right: 9em; }

th.k-header[data-field="ORDER_TYPE"] {
  padding-right: 5em; }

th.k-header[data-field="COMMERCIAL_MARKET"] {
  padding-right: 5em; }

th.k-header[data-field="BRAND"] {
  padding-right: 8em; }

th.k-header[data-field="PHYSICAL_STATUS"] {
  padding-right: 5em; }

th.k-header[data-field="LOCATION_STATUS"] {
  padding-right: 5em; }

th.k-header[data-field="CUST_ORDER_NUMBER"] {
  padding-right: 5em; }

th.k-header[data-field="SALES_TYPE"] {
  padding-right: 5em; }

th.k-header[data-field="STOCK_ENTRY_DATE"] {
  padding-right: 7em; }

th.k-header[data-field="SALES_MANAGER_NOTE"] {
  padding-right: 9em; }

th.k-header[data-field="FO_NOTE"] {
  padding-right: 12em; }

th.k-header[data-field="VEHICLE_STATUS"] {
  padding-right: 7em; }

th.k-header[data-field="FLEET_ASSIGN_DATE"] {
  padding-right: 5em; }

th.k-header[data-field="IS_SVO"] {
  padding-right: 8em; }

th.k-header[data-field="EKIPMAN_INDIKATURU"] {
  padding-right: 5em; }

th.k-header[data-field="INVOICEDATE"] {
  padding-right: 7em; }

th.k-header[data-field="AGREEMENT_NUMBER"] {
  padding-right: 5em; }

th.k-header[data-field="DAY_LIMIT"] {
  padding-right: 5em; }

th.k-header[data-field="WSNUMBER"] {
  padding-right: 9em; }

th.k-header[data-field="WS_MATBU_NO"] {
  padding-right: 8em; }

th.k-header[data-field="TARGET_PROD_DATE"] {
  padding-right: 5em; }

th.k-header[data-field="GUMRUK"] {
  padding-right: 7em; }

th.k-header[data-field="GUMRUKBYNTAR"] {
  padding-right: 7em; }

th.k-header[data-field="GUMRUKBYNNO"] {
  padding-right: 7em; }

th.k-header[data-field="MAKBUZNO"] {
  padding-right: 7em; }

th.k-header[data-field="MAKBUZTAR"] {
  padding-right: 7em; }

th.k-header[data-field="WAYBILLID"] {
  padding-right: 7em; }

th.k-header[data-field="WAYBILLDATE"] {
  padding-right: 7em; }

th.k-header[data-field="HasNoSevk"] {
  padding-right: 12em; }

th.k-header[data-role="droptarget"] {
  padding-right: 2em !important; }

th.k-header[data-role="droptarget"] label {
  margin-left: 6px !important; }

th.k-header[data-field="RealocationColumn"] {
  padding-right: 7em; }

th.k-header[data-field="SalesNoteColumn"] {
  padding-right: 1em !important; }

.grid-wrap {
  overflow-x: hidden !important;
  /* IE10 */
  background-image: -ms-linear-gradient(top, #000000 0%, #ffffff 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #000000 0%, #ffffff 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #000000 0%, #ffffff 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(1, #ffffff));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #000000 0%, #ffffff 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top, #000000 0%, #ffffff 100%); }

.grid-wrap .k-header .k-checkbox {
  display: none; }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  vertical-align: middle !important; }

.text-area-section {
  display: none; }

#StockDsrGridBase {
  overflow-x: auto; }

div.info-message.success {
  background-color: rgba(46, 156, 79, 0.7);
  box-sizing: border-box;
  padding: 4px;
  border-radius: 0;
  color: #ffffff;
  display: block;
  position: absolute;
  top: 28px;
  width: 100%;
  line-height: 40px;
  text-align: center;
  height: 52px;
  font-size: 18px; }

div.info-message.fail {
  background-color: rgba(156, 46, 46, 0.7);
  box-sizing: border-box;
  padding: 4px;
  border-radius: 0;
  color: #ffffff;
  display: block;
  position: absolute;
  top: 28px;
  width: 100%;
  line-height: 40px;
  text-align: center;
  height: 52px;
  font-size: 18px; }

select.k-dropdown {
  padding: 4px;
  border: 1px solid #cccccc; }

.filter-search-box .k-textbox > input {
  height: 3.46em !important;
  line-height: 0.9em !important; }

div.fordotosansample {
  background-color: #cc0000; }

/** OVERRIDE FORD-BSS-CSS FILE **/
.filter-boxes .filter-search-box input {
  font-size: 14px;
  background-color: transparent !important;
  padding: 20px; }

.filter-boxes .filter-search-box .k-textbox {
  padding: 0; }

.k-pager-wrap {
  background: #ffffff none !important;
  border: medium none !important;
  box-shadow: none !important; }

.filter-boxes .filter-box label {
  font-size: 14px;
  font-weight: normal;
  display: inline;
  padding-left: 10px;
  margin-bottom: 5px; }

.k-numeric-wrap .k-state-hover {
  color: #333333 !important; }

.k-numeric-wrap .k-state-hover .k-link {
  color: #ffffff !important; }

.k-numerictextbox .k-link {
  color: #333333 !important; }

.k-numerictextbox .k-link:hover {
  color: #ffffff !important; }

.filter-box ul li {
  margin-bottom: 5px; }

.k-loading-mask {
  display: none; }

table > thead > tr:first-child {
  height: 36px !important; }

span.dealernumber {
  clear: both;
  display: block; }

.k-grid .information-links {
  float: left;
  width: 20px;
  clear: both;
  margin-right: 10px; }

.information-links > i {
  font-size: 16px;
  cursor: pointer; }

.order-info-popup {
  display: none;
  box-shadow: 1px 1px 5px #999999;
  padding: 6px;
  border-radius: 4px;
  position: relative;
  top: 0;
  left: 5px;
  background-color: #ffffff; }

.information-links:hover > .order-info-popup {
  display: inline-block; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background: none !important;
  border: none !important;
  color: #ffffff !important; }

.fo-button-filter {
  padding: 5px 0 !important; }

.no-left-padding {
  padding-left: 0 !important; }

.text-success, .text-danger {
  font-size: 16px !important; }

/*table tr td {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
 }*/
select.k-dropdown {
  color: #000000 !important; }

table tbody tr td:nth-child(2) {
  vertical-align: middle !important; }

table tbody tr td:nth-child(2) > .k-checkbox-label, .k-radio-label {
  left: 5px !important; }

.filter-option-search {
  margin-bottom: 15px;
  display: block;
  height: 28px;
  margin-top: 10px;
  font-size: 12px;
  line-height: 10px; }

.filter-box#stockFinancingPrices {
  min-height: 130px; }

.grid-header-btn {
  float: right !important;
  clear: both; }

.grid-process .dropdown-menu[aria-labelledby="dropdownUILeft"] {
  text-align: left !important; }

.k-treeview span.k-in {
  text-transform: uppercase; }

#toast-container {
  top: 1px;
  right: 1px; }

div#no-result, div#no-result-car-select {
  font-size: 12px;
  position: relative;
  top: -12px;
  font-weight: normal !important; }

input::-ms-clear {
  display: none; }

#filter-grid-button-group > button {
  width: 50% !important; }

.btn-group-sticky {
  position: fixed !important;
  bottom: 5px;
  width: 14.9% !important; }

.btn-group-static {
  position: relative !important;
  width: 100.9% !important; }

.btn-group > :first-child.btn {
  height: 45px !important; }

.btn-group > :last-child:not(:first-child).btn, .btn-group > :not(:first-child).dropdown-toggle {
  height: 45px !important; }

@media (min-width: 1240px) {
  .tabbable .nav > li {
    width: 17% !important; }
  .tabbable .nav > li > a {
    cursor: pointer; }
  .btn-group-sticky {
    width: 17.2% !important; } }

@media (max-width: 1040px) {
  .tabbable .nav > li {
    width: 26% !important; } }

@media (max-width: 1240px) {
  .col-md-2 {
    width: 20%; }
  .col-md-10 {
    width: 80%; }
  .filter-button-static {
    width: 17.2%; }
  .btn-group-sticky {
    width: 17.2% !important; } }

@media (max-width: 1366px) {
  .col-md-2 {
    width: 20%; }
  .col-md-10 {
    width: 80%; }
  .filter-button-static {
    width: 17.4%; }
  #control-criteria > h4 {
    max-width: 142px; } }

@media (max-width: 768px) {
  .tabbable .nav > li {
    width: 30% !important; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-9 {
    width: 75%; }
  .k-grid {
    touch-action: initial !important; } }

