.query-screen {
  background-color: #ffffff;
  padding: 10px;
  box-sizing: content-box;
  display: block; }

.query-screen input[type="text"] {
  margin-bottom: 15px; }

h4.title {
  font-weight: 700;
  margin-bottom: 30px; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 90%;
    margin: 30px auto;
    height: auto;
    min-height: 600px; } }

.no-right-padding {
  padding-right: 0 !important; }
